.footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .footer-info p {
    margin: 5px 0;
    font-size: 0.9rem;
  }
  
  .footer-nav {
    margin-top: 10px;
  }
  
  .footer-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  