body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("first.jpg");
    background-size: cover;
    background-position: bottom;
    color: #fff;
    text-align: center;
  }
  
  .title {
    font-size: 6rem;
    font-weight: bold;
    color:black;
    font-family: Georgia, serif;
    margin-bottom: 5px;
  }
  
  .subtitle {
    font-size: 1.5rem;
    color: black;
    margin-bottom: 20px;
    margin-top: 5px;
    padding-bottom: 300px;
    height: 50px;
    text-align: start;
  }
  
  .intro-buttons {
    display: flex;
    gap: 15px;
  }
  
  .btn1, .btn2{
    padding: 10px 20px;
    font-size: 1rem;
    color: black;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
  }
  
  .btn1:hover {
    background-color: #0056b3;
  }
  .btn2:hover {
    background-color: #0056b3;
  }
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .login-modal {
    background: #000000;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-modal h2 {
    margin-top: 0;
    text-align: center;
  }
  
  .login-modal label {
    display: block;
    margin-top: 10px;
  }
  
  .login-modal input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    
  }
  
  .submit-button {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .blue-link{
    text-align: center;
    margin-top: 10px;
  }
  
  .blue-link{
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }
  
  .blue-link:hover {
    text-decoration: underline;
  }
  .forgot-password-link{
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: red;
  }
.home-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  background-image: url("two.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  /* position: fixed; */
  width: 100%;
  color: #333;
}

.home-container h1 {
  font-size: 3.5rem;
  color: black;
  margin-bottom: 20px;
  padding-left: 50px;
}

.home-container p {
  font-size: 1.5rem;
  margin-bottom: 20px;
  line-height: 1.6;
  padding-left: 50px;
}

.welcome {
  text-align: left;
  margin-bottom: -20px;
  color: #555;
  font-size: 1.2rem;
  margin-top: 3650px;
  padding-left: 50px;

}

.home-title {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: black;
  line-height: 60px;
}

.description {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: black;
  line-height: 1.8;
  margin-top: -10px;
}

.home-container button {
  margin-bottom: 20px;
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 50px;
}

.home-container button:hover {
  background-color: #555;
}
.column {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0;
}

.box1, .box2, .box3 {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: -10px;
}
.box1 h3{
  margin-bottom: -50px;
  line-height: 1.5rem;
  font-weight: bold;
  margin-top: 0px;
}
.box1 p{
  margin-bottom: 0px;
  line-height: 1.7rem;
  margin-top: 50px;
}
.box2 h3{
  margin-bottom: -50px;
  line-height: 1.5rem;
  font-weight: bold;
  margin-top: 0px;
}
.box2 p{
  margin-bottom: 0px;
  line-height: 1.7rem;
  margin-top: 50px;
}
.box3 h3{
  margin-bottom: -50px;
  line-height: 1.5rem;
  font-weight: bold;
  margin-top: 0px;
}
.box3 p{
  margin-bottom: 0px;
  line-height: 1.7rem;
  margin-top: 50px;
}
.box1 {
  background-color: rgb(73, 70, 70);
}

.box2 {
  background-color: black;
}

.box3 {
  background-color: rgb(73, 70, 70);
}
.who-r-v{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
}
.image-div{
  height: 500px;
  width: 380px;
  background-image: url("three.jpg");
  background-size: contain;
  margin-top: 20px;
}
.content-div h3{
  margin-top: 40px;
  margin-bottom: -32px;
  margin-left: 50px;
}
.content-div h1{
  margin-bottom: 60px;
  line-height: 1.1;
}
.content-div p{
  margin-bottom: 40px;
  margin-top: -50px;
}
.how-v-work{
  height: 100%;
  width: 100%;
  margin-top: 50px;
}
.procedure h3{
  margin-left: 55px;
}
.how-v-work h1{
  margin-top: -30px;
}
.three-boxes{
  display: flex;
  justify-content: space-evenly;
}
.sub-box{
  height: 350px;
  width: 400px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.sub-box h3{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.sub-box p{
  text-align: left;
  margin-left: -25px;
}
.img1, .img2, .img3, .img4, .img5{
  left: 0;
  height: 280px;
  width: 280px;
  background-color: red;
  border: 5px solid rgb(137, 136, 136);
}
.img1{
  background-image: url("18.jpg");
  background-size: cover;
  border-left: none;
}
.img2{
  background-image: url("22.jpg");
  background-size: cover;
}
.img3{
  background-image: url("20.jpg");
  background-size: cover;
}
.img4{
  background-image: url("19.jpg");
  background-size: cover;
}
.img5{
  background-image: url("21.jpg");
  background-size: cover;
  border-right: none;
}
.random-img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.partner{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.img-overlap{
  margin-right: -150px;
  margin-top: 30px;
}
.image-1, .image-2, .image-3{
  height: 250px;
  width: 400px;
  border: 2px solid rgb(137, 136, 136);
}
.image-1{
  background-image: url("ten.jpg");
  background-size: cover;
  background-color: aqua;
  margin-left: 50px;
}
.image-2{
  background-image: url("twelve.jpg");
  background-size: cover;
  background-color: green;
  margin-top: -50px;
}
.image-3{
  background-image: url("six.jpg");
  background-size: cover;
  background-color: pink;
  margin-top: -60px;
  margin-left: 100px;
}
.content-partner{
margin-left: -190px;
}
.content-partner h1{
  line-height: 1.2;
  margin-top: -5px;
}
.content-partner h3{
  margin-top: 70px;
  padding-top: 70px;
  margin-left: 50px;
}
.trust-us-now{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
}
.video{
  height: 380px;
  width: 600px;
  background-color: aquamarine;
  margin-top: 15px;
  margin-left: 5px;
}
.text h3{
  margin-bottom: 10px;
  margin-left: 50px;
}
.text h1{
  margin-top: 5px;
}
.text p{
  margin-top: -20px;
}
.comments{
  display: flex;
  gap: 20px;
  margin-top: 70px;
}
.comments-box{
  height: 365px;
  width: 490px;
  margin-bottom: 30px;
  margin-left: 50px;
}
.text-part h3{
  margin-bottom: 0px;
  margin-left: 50px;
}
.text-part h1{
  margin-bottom: 10px;
  margin-top: 0px;
}
.text-part p{
  margin-top: 0px;
}
.comments-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.comment-box {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.client-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.client-name {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: -130px;
  font-size: 2rem;
}

.client-comment {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: #555;
  text-align: left;
}

.client-rating {
  font-size: 1.2rem;
  color: #ffd700;
}