.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0);
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); Transparent background */
    color: #fff;
    z-index: 1000;
    border-bottom: 5px;
  }
  
  .navbar .logo a {
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #ffb400; /* Highlight color on hover */
  }
  
  .contact-us-btn {
    background: #ffb400;
    color: #000;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .contact-us-btn:hover {
    background: #ff9500;
    color: #fff;
  }
  