body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: burlywood; */
}
.empty{
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 100%;
}
.tt {
  margin-top: 0px;
  flex: 1;
  height: 100vh;
  width: 100%;
  background-color: burlywood;
}

.tt h1 {
  font-size: 3.5rem;
  margin-left: 100px;
}

.tt p {
  margin-left: 100px;
  font-size: 1.2rem;
}

.pref-partner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.overlap-img {
  margin-right: -150px;
  margin-top: 30px;
}

.image-one, .image-two, .image-three {
  height: 250px;
  width: 400px;
  border: 2px solid rgb(137, 136, 136);
}

.image-one {
  background-image: url("ten.jpg");
  background-size: cover;
  background-color: aqua;
  margin-left: 50px;
}

.image-two {
  background-image: url("twelve.jpg");
  background-size: cover;
  background-color: green;
  margin-top: -50px;
}

.image-three {
  background-image: url("six.jpg");
  background-size: cover;
  background-color: pink;
  margin-top: -60px;
  margin-left: 100px;
}

.content-prtner {
  margin-left: -190px;
}

.content-prtner h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-top: -5px;
}

.content-prtner h3 {
  margin-top: 70px;
  padding-top: 70px;
}
.content-prtner p{
  margin-top: -20px;
  font-size: 1.7rem;
}
.portfolio2 {
  margin-bottom: 20px;
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.portfolio2:hover {
  background-color: #555;
}

.proj-pics {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.A, .B, .C, .D, .E, .F {
  height: 400px;
  width: 380px;
}

.A, .B, .C {
  margin-bottom: 200px;
  margin-top: 50px;
  text-align: center;
  background-color: rgb(199, 199, 199);
}

.D, .E, .F {
  margin-bottom: 200px;
  text-align: center;
  background-color: rgb(199, 199, 199);
}

.photo-1, .photo-2, .photo-3, .photo-4, .photo-5, .photo-6 {
  background-color: aqua;
  height: 300px;
  width: 300px;
  margin-left: 39px;
  margin-top: 250px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
.proj-pics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  text-align: center;
}

.project h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project p {
  margin: 5px 0;
}

.contact-us {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-us:hover {
  background-color: #0056b3;
}
.proj-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -30px;
  margin-top: 30px;
}
.proj-name{
  margin-top: 210px;
  color: black
}
.project {
  background: #f9f9f9;
  padding: 20px;
  margin: 10px;
  width: 400px;
  height: 400px;
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 8px;
  /* background-image: url("24.jpg");
  background-size: cover; */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.contact-us {
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.contact-us:hover {
  background: #555;
}