.main{
  width: 100%;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 85vh;
  background-color: burlywood;
  /* background-image: url("two.jpg");
  background-size: cover;
  background-position: center; */
}
.ourservices-container {
    /* padding: 20px; */
    text-align: center;
}
  
.ourservices-container h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    margin-right: 540px;
}
.ourservices-container p{
    margin-top: 0;
    margin-left: 90px;
    margin-right: 620px;
}
.starting{
  margin-top: 3200px;
}
.columns{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0;
  margin-top: 50px;
}

.box1, .box2, .box3 {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  text-align: left;
}

.box1 {
  background-color: rgb(73, 70, 70);
}

.box2 {
  background-color: black;
}

.box3 {
  background-color: rgb(73, 70, 70);
}
.how-we-work{
  height: 100%;
  width: 100%;
  margin-top: 70px;
}
.procedures h3{
  margin-left: 55px;
}
.how-we-work h1{
  margin-top: -20px;
  margin-left: 50px;
}
.three-container{
  display: flex;
  justify-content: space-evenly;
}
.subbox{
  height: 350px;
  width: 400px;
  border: 1px solid black;
  margin-bottom: 15px;
}
.subbox h3{
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.subbox p{
  line-height: 2;
  font-size: 1.35rem;
  text-align: left;
  margin-left: 4px;
}
.video-divs1{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 150px;
}
.video1{
  height: 380px;
  width: 50%;
  background-color: bisque;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.text1{
  height: 380px;
  width: 50%;
  margin-left: 0px;
}
.text1 h3{
  margin-bottom: 10px;
  margin-left: 0px;
}
.text1 h1{
  margin-top: 0;
  font-size: 3.5rem;
  line-height: 1.2;
}
.text1 p{
  margin-top: -20px;
  font-size: 1.2rem;
}
.contact-us{
  margin-bottom: 20px;
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 0;
}
.contact-us:hover{
  background-color: #555;
}
.video-divs2{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}
.video2{
  height: 380px;
  width: 50%;
  margin-left: 0px;
  background-color: bisque;
}
.text2{
  height: 100%;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.text2 h3{
  margin-bottom: 10px;
  margin-left: 0px;
}
.text2 h1{
  margin-top: 0;
  font-size: 3.5rem;
  line-height: 1.2;
}
.text2 p{
  margin-top: -20px;
  font-size: 1.2rem;
}
.contact-us{
  margin-bottom: 20px;
  background-color: black;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 0;
}
.comment{
  display: flex;
  gap: 20px;
  margin-top: 70px;
}
.comment-box{
  height: 300px;
  width: 490px;
  border: 1px solid black;
  margin-bottom: 30px;
  margin-left: 50px;
}
.texts-part h3{
  margin-left: 50px;
}
.texts-part h1{
  font-size: 3.5rem;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-left: 50px;
}
.texts-part p{
  margin-left: 50px;
  font-size: 1.5rem;
}
.comments-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px 0;
}

.comment-box {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.client-name {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: -150px;
  font-size: 2rem;
}

.client-comment {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #555;
  text-align: left;
}

.client-rating {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #ffd700;
}